/*POPULAR*/
.apartment-list .popular-flex {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-evenly;
  }

 @media only screen 
and (min-width: 768px)
and (max-width: 992px) {

  .apartment-list .popular-flex {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .popular {
    order: -1;
  }
}
