<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/************************************
*                 General           *
************************************/

* {
  box-sizing: border-box;
  font-family: "Raleway", "Sans-serif";
}

/************************************
*            header + nav           *
************************************/

body {
  margin-top: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  border: red;
}

nav a {
  padding: 32px;
  border-top: 3px solid transparent;
}

nav a:hover {
  border-top-color: #0065fc;
}

#logo {
  max-width: 150px;
  max-height: 150px;
  margin-right: auto;
  padding: 0 32px;
}

.sub-nav {
  display: flex;
}

.sub-nav a:hover {
  color: #0065fc;
}

/*BODY*/
.wrapper {
  padding: 0 32px;
}
.wrapper h1,
.wrapper p {
  margin-bottom: 16px;
}

/*SEARCH*/
.search-form {
  display: inline-flex;
}

.search-form i {
  padding: 16px 19px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.search-form input {
  padding-right: 48px;
  border: 1px solid #f2f2f2;
}

.search-form input::placeholder {
  font-size: 16px;
}

.search-form button {
  background-color: #0065fc;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 1px 24px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .sub-nav {
    flex-basis: 100%;
  }

  .sub-nav a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
  }

  .sub-nav a:hover {
    border-bottom-color: #0065fc;
    border-top-color: transparent;
  }
}
=======
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/************************************
*                 General           *
************************************/

* {
  box-sizing: border-box;
  font-family: "Raleway", "Sans-serif";
}

/************************************
*            header + nav           *
************************************/

body {
  margin-top: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  border: red;
}

nav a {
  padding: 32px;
  border-top: 3px solid transparent;
}

nav a:hover {
  border-top-color: #0065fc;
}

#logo {
  max-width: 150px;
  max-height: 150px;
  margin-right: auto;
  padding: 0 32px;
}

.sub-nav {
  display: flex;
}

.sub-nav a:hover {
  color: #0065fc;
}

/*BODY*/
.wrapper {
  padding: 0 32px;
}

.wrapper h1,
.wrapper p {
  margin-bottom: 13px;
}

/*SEARCH-FORM*/
.search-form {
  display: inline-flex;
}

.search-form i {
  padding: 16px 19px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.search-form input {
  flex-basis: 256px;
  border: 3px solid #f2f2f2;
}
.search-form input::placeholder {
  font-size: 16px;
}

.search-form button {
  background-color: #0065fc;
  color: #f2f2f2;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 1px 24px;
  cursor: pointer;
}
>>>>>>> 22fd9ce3838ab1360a0db93baa7e3267d77fdd56
