@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/************************************
*                 General           *
************************************/

* {
    box-sizing: border-box;
    font-family: "Raleway","Sans-serif";
}

/************************************
*            header + nav           *
************************************/

body {
margin-top: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  border: red;
}

nav a {
  padding: 32px;
  border-top: 3px solid transparent;
}

nav a:hover {
  border-top-color:#0065fc;
}

#logo {
  max-width: 150px;
  max-height: 150px;
  margin-right: auto;
  padding: 0 32px;
}

.sub-nav {
  display: flex;
}



.sub-nav a:hover {
  color: #0065fc;
}

.searchForm {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}

.searchButton {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  cursor: pointer;
}


@media (max-width:992px) {
  .sub-nav{
    flex-basis: 100%;
  }

  .sub-nav a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 3px solid #F2F2F2;
  }

  .sub-nav a:hover {
    border-bottom-color: #0065fc;
    border-top-color: transparent;
  }
}