/*TABLET BREAKPOINT MEDIA QUERY*/


  /*SEARCH-BAR*/
  .search-form {
    overflow: auto;
  }

  .search-texte {
    display: none;
  }

  .fa-search {
    display: inline !important;
  }

  /*APPARTMENT LIST*/
  .apartment-list {
    flex-direction: column;
  }
  
  .popular {
    order: -1;
  }

  /*LIST APARTMENTS CITY*/
  /*.city-apartments-list div {
    flex-basis: auto;
  }*/

  /*POPULAR*/
  .apartment-list .popular-flex {
    flex-direction: row;
  }
}
