/*ecran-tablette de 992px à 768px*/
@media (max-width: 992px) {

  /*HEADER*/
    .sub-nav {
      flex-basis: 100%;
    }
  
    .sub-nav a {
      flex-basis: 50%;
      text-align: center;
      border-bottom: 3px solid #f2f2f2;
    }
  
    .sub-nav a:hover {
      border-bottom-color: #0065fc;
      border-top-color: transparent;
    }

    /*SEARCH-BAR*/
    .search-form .search-texte {
      display: none;
    }
    .fas.fa-search {
      display: inline;
    background-color: inherit;
    }
  }
